@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

::selection {
  @apply bg-purple-500 text-gray-50;
}

a:visited {
  @apply text-purple-900 dark:text-purple-300;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  /* background: rgb(179, 177, 177); */
  @apply bg-gray-200 dark:bg-gray-500;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-400;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500 dark:bg-gray-400;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:active {
  @apply bg-gray-600 dark:bg-gray-300;
  border-radius: 10px;
}
